* {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 10px;
}

#cpu {
    background-color: white;
    margin-right: 0px;
    padding-right: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}